#manage-content{
    padding: 20px;
    box-sizing: border-box;
}
.header-text{
    /*width: 50%;*/
    margin: 15px;
}
/*.btn-group{*/
    /*display: block;*/
/*}*/
/*.select.btn-default{*/
    /*width: 100%;*/
    /*background-image: none;*/
    /*background-color: #e6e6e6;*/
    /*border-radius: 0;*/
/*}*/
/*.dropdown-menu {*/
    /*right: 0px;*/
    /*width: 60%;*/
/*}*/

/*.classes-div{*/
    /*width: 50%;*/
/*}*/